body{
    font-family: Poppins;
}
.bg-color-header{
    background:  #F0FFF0;
}
.navbar-lightt{
    color:black !important;
}
.button-sign{
    border-radius: 25px;
    width: 104px;
    height: 43px;
}
img.banner {
   width: 554px;
   height: 346px;
}
.banner-first-heading{
    font-size: 16px;
    color: #FD511A;
}
.banner-second-heading{
    color: #000000;
}
.banner-para{    
    text-align: justify; 
    font-size: 12px;
}
.highlight{
    background: #F8FFFB;
    border-radius: 27px;
    padding-left: 77px;
    padding-top: 9px;
    
}